 {% extends "base.html" %}

{% block content %}
    <div class=" px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="display-10">{{ self.title }}</h2>
        <p class="lead">{{ self.subtitle }}</p>
    </div>

    <div class="card-columns">
        {% for post in posts %}
            {% include "blog/blog_post_card.html" %}
        {% endfor %}
    </div>

    <div class="container">
        <p>
            <a href="/news">Все новости</a>
        </p>
    </div>
    
{% endblock content %}
