{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
    {% image self.image fill-1200x300 as banner %}
    <img src="{{ banner.url }}" alt="{{ banner.alt }}" style='width: 100%; height: auto;'>

    <h3 class="my-2">{{ self.title }}</h3>
    <h5>{{ self.subtitle }}</h5>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                {% for block in self.content %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div>{{ self.first_published_at }}</div>
{% endblock %}